<html>
<head>
  <!-- testers -->
  <script src='../testFramework/describe.js'></script>
  <script src='../testFramework/it.js'></script>
  <script src='../testFramework/expect.js'></script>

</head>

<body>
  <h1 id='header' style="display:none;">HEADER!!</h1>

  <form "main_form">
    <input type="text" id="input_form">
    <input type="submt">
  </form>

  <button id="submit_button" onClick="showHeader()">CLICK ME!</button>

</body>

<!-- tests -->
<script src='../tests/testTest.js'></script>

<script>
  function showHeader() {
    document.getElementById('header').style.display = "block";
  };

  function clickButton() {
    document.getElementById('submit_button').click()
  };

</script>

</html>
